<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Cadastrar Produto</title>
</head>
<body>
  
    <form method="post" action="/adicionar">

       <label>Nome do Produto</label> 
       <input type="text" name="TxtNome"
       placeholder="Digitar o nome do Produto">
       
       <label>Marca produto</label> 
       <input type="text" name="TxtMarca"
       placeholder="Digitar a marca do Produto">

       <label>preço do Produto</label> 
       <input type="text" name="TxtPreco"
       placeholder="Digitar o preço do Produto">

        <button type="submit">Cadastrar Produto</button>
        
    </form>

</body>
</html>